/* ==============Responsive===========*/

@media screen and (max-width: 920px) {
	.restaurants-list {
		width: 100%;
		display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 30px;
    }
}